*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.heading-text {
    font-family: 'Playfair Display', serif;
    color: #3A2D2A;
    font-size: 2.1875rem;
}

.paragraph-text {
    font-family: 'Inter', sans-serif;
    color: #3F3330;
    font-size: 1.125rem;
}

.primary-button{
    background-color: #E7B6B2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}

.primary-button:hover{
    background-color: #d99f9a;
    color: #3A2D2A;
}

.secondary-button{
     background-color: transparent;
     color: #E7B6B2;
     border: 2px solid #E7B6B2;
     padding: 8px 26px;
     font-size: 1rem;
     cursor: pointer;
     border-radius: 5px;
     font-weight: 600;
}

.secondary-button:hover{
    /* background-color: #E7B6B2; */
    color: #3A2D2A;;
    border: 2px solid #3A2D2A;;
}   

/* main styles */

/* header section */
header{
    background-color: #e7b7b24f;
    background-image: url('../images/developer.png') , url('../images/header_back.png');
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: contain , 35rem auto;
    padding-top: 50px;
}

nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h2{
    font-size: 2.8rem;
    font-weight: 900;
}

nav .menu{
    display: flex;
    align-items: center;
    gap: 3.1rem;
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color:#3F3330;
    font-size: 1.25rem;
    font-weight: 500;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: black 1px solid; */
    margin: 2.9375rem 2.375rem 0rem 14.375rem;
}

.banner-text{
    max-width: 36.5625rem;   
}

.banner-text h1{
    font-size: 4.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-text h2{
    font-size: 2.8125rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-text p{
    margin-bottom: 1.875rem;
    line-height: 1.875rem;
}
.banner-image{
    max-width: 36.5625rem;
    width: 18.75rem;
    /* if we use the verticle align middle, it will make sure the image is aligned properly with the parent's bottom */
    vertical-align: middle;
}


/* main section started */

/* about section */
#about{
    padding-top: 8.125rem;
}

.about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    text-align: center;
    background-color: #e7b7b24f;
    padding: 8.1875rem 9.8125rem;
}

.about-cards{
    display: flex;
    justify-content: space-around;
}

.section-heading p{
    line-height: 1.875rem;
    margin-bottom: 1.875rem;
}

.about-paratext{
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.about-head{
    font-size: 1.25rem;

}
